.main-navigation {
  padding-top: 15px;
  background-color: #fff;
  a {
    color: $brand-light;
  }
  ul {
    padding-left: 20px;
    display: flex;
  }
  .tab {
    border-style: solid;
    border-width: 10px 41px;
    border-image: url('../images/tab-light.svg') 10 41 fill stretch;
    font-size: $font-size-small;
    min-width: 190px;
    text-align: center;
    // filter: drop-shadow(2px 0px 3px rgba(0, 0, 0, 0.5));
    &.active {
      border-image: url('../images/tab-dark.svg') 10 41 fill stretch;
      z-index: 1;
    }
    &:not(:first-child) {
      margin-left: -30px;
    }
  }
}

.logo-container {
  position: absolute;
  left: 15px;
  top: 65px;
  .logo {
    transform: rotate(-90deg);
    letter-spacing: 1px;
    transform-origin: center left;
    width: 100%;
    font-family: "Inconsolata";
    font-weight: 400;
    font-size: 15px;
    position: absolute;
    color: $text-gray;
    span {
      color: $brand-yellow;
    }
  }
}

.sidenumbers {
  position: absolute;
  left: 0;
  top: 250px;
  counter-reset: item;
  list-style-type: none;
  font-size: 12px;
  color: lighten($brand-dark, 12%);
  li {
    padding-top: 5px;
  }
  li:before {
    content: counter(item) "  ";
    counter-increment: item
  }
}

.courses-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.class-metadata {
  @extend .hover-scale-box;
  max-width: 340px;
  border-radius: $border-radius-base;
  overflow: hidden;
  padding: 40px 40px 0px 40px;
  margin-top: 80px;
  background: linear-gradient(45deg, lighten($brand-dark, 2%) 0%, lighten($brand-dark, 6%) 100%);
  h2 {
    font-size: $font-size-base;
    font-weight: 200;
    color: $text-gray;
  }
  h3 {
    font-size: 32px;
    font-weight: 300;
    color: $brand-light;
  }
  li {
    &.date,
    &.price {
      margin-top: 10px;
      margin-bottom: 15px;
    }
    &.price {
      margin-bottom: 20px;
    }
    &:not(.price),
    &:not(.date) {
      font-size: $font-size-base;
      margin-top: 3px;
      color: $text-gray;
      font-weight: 200;
    }
  }
  .submit {
    background-color: $brand-yellow;
    display: block;
    margin: 50px -40px 0;
    text-align: center;
    padding: 15px;
    color: $brand-dark;
    font-weight: 600;
    &:hover {
      background-color: $brand-purple;
    }
  }
}

.course-header-text {
  width: 638px;
    
  text-align: left;
  margin-left: 50px;
  margin-top: 60px;
  h1 {
    height: 288px;
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
    @media (min-resolution: 124.8dpi) {
      background-image: url('../images/html+css-header@2x.png');
    }
    background-image: url('../images/html+css-header.png');
    background-repeat: no-repeat;
    background-size: 100%;
  }
  
}

.benefits-container {
  display: flex;
  flex-wrap: wrap;
  .benefit-heading {
    margin-bottom: 12px;
  }
  .benefit {
    max-width: 50%;
    padding: 40px 0px 0px 60px;
    p {
      span {
        &:nth-child(1) {
          color: $brand-purple;
        }
        &:nth-child(2) {
          color: $brand-yellow;
        }
        &:nth-child(3) {
          color: $brand-blue;
        }
      }
    }
  }
}

.testimonials-container {
  .cards-container {
    display: flex;
    justify-content: center;
  }
  .card {
    @extend .hover-scale-box;
    // background: linear-gradient(-45deg, darken($brand-dark, 15%) 0%, darken($brand-dark, 7%) 100%);
    border-radius: $border-radius-base;
    text-align: center;
    padding: 40px 40px 0px 40px;
    margin: 0px 30px;
    overflow: hidden;
    border: 1px solid lighten($brand-dark, 7%);
    .card-photo {
      width: 112px;
      border-radius: 50%;
    }
    strong {
      display: block;
      margin: 10px 0px 15px 0px;
      font-size: 18px;
    }
    p {
      font-size: $font-size-small;
      line-height: ceil($font-size-small * 1.6);
    }
  }
  .card-footer {
    display: flex;
    justify-content: space-between;
    margin: 30px -40px 0;
    padding: 15px 20px;
    background-color: lighten($brand-dark, 7%);
    li {
      display: inline-block;
      margin-right: 10px;
      color: darken($text-gray, 10%);
    }
    .company-logo {
      height: 16px;
    }
  }
}

.course-topics-container {
  .course-topics {
    padding: 0px 80px;
  }
  .topic {
    display: flex;
    // align-items: center;
    padding: 30px 0px;
    border-top: 1px solid lighten($brand-dark, 10%);
    &:last-child {
      border-bottom: 1px solid lighten($brand-dark, 10%);
    }
    .topic-header,
    .topic-time,
    .topic-desc {
      margin-right: 30px;
    }
    .topic-header {
      width: 30%;
    }
    .topic-time {
      width: 20%;
    }
  }
}

.tools {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  .tool {
    @extend .hover-scale-img;
    display: inline-block;
    img {
      width: 83px;
    }
  }
}
