.center-container {
  max-width: $center-container-width;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0px auto 70px;
}

.wrapper {
  width: 100%;
}

.center-heading {
  text-align: center;
  font-weight: 100;
  color: $text-gray;
  margin-bottom: 60px;
  font-size: $font-size-base*2;
}
