$brand-yellow: #FFD16C;
$brand-purple: #BE9ACB;
$brand-blue: #77AED7;
$brand-dark: #26292C;
$brand-light: #ECECEC;
$text-gray: lighten($brand-dark, 50%);

$font-size-base: 16px;
$font-size-small: 13px;
$line-height-block: ceil($font-size-base * 1.6); 

$center-container-width: 1170px;

$border-radius-base: 6px;