extends layouts/base.pug
block page 
  header
    nav.main-navigation
      ul
        li.tab
          a(href="index.html").home קורסים
        li.tab.active
          a(href="about.html").about מי אנחנו
  div.logo-container
    a.logo(href="index.html")
      | creativecoding.co.il
  main
    div.courses-header-container.center-container
      aside.class-metadata
        ul
          li.date
            h2 מחיר
            h3 5000 ₪ (כולל מע״מ)
          li.price
            h2 הקורס הבא
            h3 01.06.2016
          li 20 מפגשים וירטואלים
          li 17:00 - 19:00, בימי ראשון
          li תמיכה כל השבוע דרך סלאק
        a(href='signup.html').btn.submit הרשמה
      hgroup.course-header-text(dir='ltr')
        h1 Html + Css course for designers
    div.benefits-container.center-container
      div.benefit
        h2.benefit-heading.underline לגשר על הפער בין עיצוב ופיתוח
        p הפער בין עיצוב לפיתוח היא סוגייה מוכרת ומורכבת בעולם הפיתוח. מעצב אשר יודע לגשר על פער זה, הוא בעל ערך רב. בואו לשדרג את הכישורים שלכם בקורס ענייני ומתומצת שבנוי במיוחד למעצבים שרוצים לקחת את הצעד המקצועי הבא שלהם.
      div.benefit
        h2.benefit-heading.underline ללמוד אונליין בזמן אמת
        p 
          |הקורס מתקיים ביום ובשעה קבועים בשבוע ומועבר במתכונת ״וובינר״ - לימוד אונליין בזמן אמת. אתם מקבלים את כל היתרונות של קורס פיזי (
          span שואלים שאלות,
          |  
          span מקבלים תמיכה  
          | 
          span ונשארים מחויבים
          | ) בלי החסרונות (לבזבז זמן וכוח בשביל להגיע לשיעור ולחזור מאוחר הביתה).
      div.benefit
        h2.benefit-heading.underline לקבל תמיכה בכל זמן
        p אנחנו מאמינים שהדרך הנכונה והפרודוקטיבית ביותר ללמוד היא באמצעות תרגול. אנחנו נדאג לבסס את הבטחון העצמי שלכם בקוד על ידי מתן מענה מהיר ויעיל דרך קבוצת ״סלאק״ במשך כל השבוע.
      div.benefit
        h2.benefit-heading.underline ללמוד ממעצבים שעובדים בשוק
        p בזמן שאנחנו לא מעבירים את הקורס אנחנו עובדים עם חברות וסטארטאפים על המוצרים הבאים שלהם. אנחנו מעודכנים במוצרים ובטכונלוגיות החדשות ביותר ולמדנו להכיר תהליך נכון  בו התוצר הסופי משקף את העיצוב בצורה מדויקת ונכונה.
    div.testimonials-container
        h2.center-heading מעצבים שלמדו איתנו
        div.cards-container.center-container
          div.card
            img.card-photo(src='images/rotem-bix.jpg')
            strong.name רותם ביקסן
            p ״ הקורס מקצועי מאוד​.​ אולג ואלכס לא משאירים קצוות פרומים​​ ומכניסים אותך לאט לאט ובאופן מובנה לחומר הנלמד​.​הפורמט של הקורס מאוד נוח ומאפשר שאלות בזמן אמת​.​ יש זמינות מחוץ לשעות הקורס וההיענות לבעיות בתרגילים​ ​מהירה​.​ מומלץ בחום. ״
            div.card-footer
              ul.social-links
                li
                  a.ion-social-instagram(href="https://www.instagram.com/bicksn/" target="_blank")
                li
                  a.ion-ios-world(href="http://www.rotembix.com/" target="_blank")
              
          div.card
            img.card-photo(src='images/michal-reicher.jpg')
            strong.name מיכל רייכר
            p " קורס יסודי. אולג ואלכס מסבירים לעומק ובבהירות, כך שגם ללא שום ידע קודם מצליחים להגיע   לרמה גבוהה והבנה של מבנה הקוד. בקבוצת דיון יש תמיכה מהירה, גם מצד התלמידים. השיעורים מוקלטים וזמינים בכל זמן ובנוסף ניתנים הרבה מקורות נוספים למי שרוצה להעמיק."
            div.card-footer
              ul.social-links
                li
                  a.ion-social-facebook(href="https://www.facebook.com/michal.reicher?fref=ts" target="_blank")
                li
                  a.ion-ios-world(href="http://michalrei.com/" target="_blank")
              
          div.card
            img.card-photo(src='images/shira-haran.jpg')
            strong.name שירה הרן
            p " היתרון הגדול בקורס הוא למידה ממעצבים. ההתמקדות היא בדברים רלוונטים לנו ולעבודה מול מתכנתים. הקורס עזר לי להבין איך לעבוד נכון, ולהצליח לתקשר קצת יותר לעומק עם מתכנת. ולפעמים אפילו להצליח לעשות משהו לבד בלי לבקש עזרה של מתכנת. ממליצה בחום."

            div.card-footer
              ul.social-links
                li
                  a.ion-social-facebook(href="https://www.facebook.com/shira.haran?fref=ts" target="_blank")
                li
                  a.ion-ios-world(href="http://cargocollective.com/shiraharan/" target="_blank")
    div.course-topics-container
      h2.center-heading מה תלמדו בקורס?
      div.course-topics.center-container
        div.topic
          h3.topic-header נושא א שתלמדו
          span.topic-time שבוע
          p.topic-desc אנחנו מאמינים שהדרך הנכונה והפרודוקטיבית ביותר ללמוד היא באמצעות תרגול. אנחנו נדאג לבסס את הבטחון העצמי שלכם בקוד על ידי מתן מענה מהיר ויעיל דרך קבוצת ״סלאק״ במשך כל השבוע.
        div.topic
          h3.topic-header נושא א שתלמדו
          span.topic-time 3 שבועות
          p.topic-desc אנחנו מאמינים שהדרך הנכונה והפרודוקטיבית ביותר ללמוד היא באמצעות תרגול. אנחנו נדאג לבסס את הבטחון העצמי שלכם בקוד על ידי מתן מענה מהיר ויעיל דרך קבוצת ״סלאק״ במשך כל השבוע.
        div.topic
          h3.topic-header נושא א שתלמדו
          span.topic-time 3 שבועות
          p.topic-desc אנחנו מאמינים שהדרך הנכונה והפרודוקטיבית ביותר ללמוד היא באמצעות תרגול. אנחנו נדאג לבסס את הבטחון העצמי שלכם בקוד על ידי מתן מענה מהיר ויעיל דרך קבוצת ״סלאק״ במשך כל השבוע.
    div.tools-container
      h2.center-heading טכנולוגיות וכלים שתלמדו
      ul.tools.center-container
        li.tool
          a(href="https://slack.com/" target="_blank")
            img(src="/images/slack-logo@2x.png")
        li.tool
          a(href="http://getbootstrap.com/" target="_blank")
            img(src="/images/bootstrap-logo@2x.png")
        li.tool
          a(href="https://www.sublimetext.com/3" target="_blank")
            img(src="/images/sbt-logo@2x.png")
        li.tool
          a(href="http://sass-lang.com/" target="_blank")
            img(src="/images/sass-logo@2x.png")
        li.tool
          a(href="http://codepen.io/" target="_blank")
            img(src="/images/codepen-logo@2x.png")
        li.tool
          a(href="http://gulpjs.com/" target="_blank")
          img(src="/images/gulp-logo@2x.png") 
    
      