extends layouts/base.pug
block page 
  header
    nav.main-navigation
      ul
        li.tab
          a(href="index.html").home קורסים
        li.tab
          a(href="about.html").about מי אנחנו
        li.tab.active
          a(href="contact.html").about צור קשר
  div.logo-container
    a.logo(href="index.html")
      | creativecoding.co.il
  main.contact-page
    div.center-container.contact-header-container
      .contact-form-container
        include partials/contact-form.pug


    