extends layouts/base.pug
block page 
  header
    nav.main-navigation(dir='ltr')
      ul
        li.tab.active
          a(href="index.html") קורסים
        li.tab
          a(href="about.html") מי אנחנו
        li.tab
          a מי אנחנו
  div.logo-container
    a.logo(href="index.html")
      | creativecoding.co.il
  ol.sidenumbers
    - for (var x = 0; x < 200; x++)
      li
  main
    div.center-container.signup-header-container
      div.signup-header-text
        h1 שמחים שבחרתם להצטרף!
        span אוקיי אז ככה זה עובד:
        ol
          li מלאו את פרטיכם והירשמו לקורס. כדאי להבטיח את מקומכם מפני שמספר המקומות מוגבל, על מנת שנצליח לשמור על איכות הקורס. 
          li לאחר שתתגבש קבוצה, נשלח לכם לינק לתשלום דרך פייפאל - אל דאגה ניתן לשלם גם בכרטיס אשראי.
          li ניתן לשאול אותנו כל שאלה דרך המייל 
            a(href="mailto:hello@creativecoding.co.il") hello@creativecoding.co.il 
      .signup-form-container
        include partials/signup-form.pug


    