extends layouts/base.pug
block title
  title הרשמו לקורס
block description
  meta(name='description', content='מלאו את פרטיכם והירשמו לקורס. כדאי להבטיח את מקומכם מפני שמספר המקומות מוגבל, על מנת שנצליח לשמור על איכות הקורס.')
block page 
  header
    nav.main-navigation
      ul
        li.tab
          a(href="index.html").home קורסים
        li.tab
          a(href="about.html").about מי אנחנו
        li.tab
          a(href="contact.html").about צור קשר
  div.logo-container
    a.logo(href="index.html")
      | creativecoding.co.il
  main.signup-page
    div.center-container.signup-header-container
      div.signup-header-text
        h1 שמחים שבחרתם להצטרף!
        span אוקיי אז ככה זה עובד:
        ol
          li מלאו את פרטיכם והירשמו לקורס. כדאי להבטיח את מקומכם מפני שמספר המקומות מוגבל, על מנת שנצליח לשמור על איכות הקורס. 
          li לאחר שתתגבש קבוצה, נשלח לכם לינק לתשלום דרך פייפאל - אל דאגה ניתן לשלם גם בכרטיס אשראי.
          li ניתן לשאול אותנו כל שאלה דרך המייל 
            a(href="mailto:hello@creativecoding.co.il") hello@creativecoding.co.il 
            | או בעמוד   
            a(href="contact.html") הצור קשר.
      .signup-form-container
        include partials/signup-form.pug


    