extends layouts/base.pug
block title
  title תודה שפניתם אלינו
block description
  meta(name='description', content='תודה על פנייתכם! נהיה בקשר בהקדם.')
block head-addons
  meta(name='robots', content='noindex')
  meta(name='googlebot', content='noindex')
block page
  header
    nav.main-navigation
      ul
        li.tab
          a(href="index.html").home קורסים
        li.tab
          a(href="about.html").about מי אנחנו
        li.tab
          a(href="contact.html").about צור קשר
  main.thanks-wrapper
    h1.thanks-heading הרשמתכם לקורס התקבלה! נהיה בקשר בהקדם.