extends layouts/base.pug
block page
  header
    nav.main-navigation
      ul
        li.tab
          a(href="index.html").home קורסים
        li.tab
          a(href="about.html").about מי אנחנו
        li.tab
          a(href="contact.html").about צור קשר
  main.center-container
    h1.thanks-heading הרשמתכם לקורס התקבלה! נהיה בקשר בהקדם.