footer.wrapper
  div.center-container.footer-container
    span.copyright ⓒ A project by 
      a(href="https://dribbble.com/olegmilshtein" target="_blank")
        |Oleg 
      |and 
      a(href="http://alexyakir.com/" target="_blank")
        |Alex 
    div.logo-container-footer
      a.logo(href="index.html")
        | creativecoding.co.il
      