doctype html
html
  block head
    head
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      title ללמוד קוד ממעצבים
      meta(property='og:image', content='images/cc-og-image.jpg')
      meta(name='application-name', content='ללמוד קוד ממעצבים')
      meta(name='description', content='בואו לשדרג את הכישורים​ העיצוביים שלכם ​וללמוד קוד ממעצבים שעובדים בשוק. קורס אונליין בזמן אמת. אתם מקבלים את כל היתרונות של קורס פיזי (שואלים שאלות, מקבלים תמיכה ונשארים מחויבים) בלי החסרונות (לבזבז זמן וכוח בשביל להגיע לשיעור ולחזור מאוחר הביתה).')
      meta(name='subject', content="בואו ללמוד איך לגשר על הפער בין עיצוב לפיתוח")
      meta(name='robots', content='index,follow,noodp')
      meta(name='googlebot', content='index,follow')
      meta(name='google', content='nositelinkssearchbox')
      meta(name='abstract', content='ללמוד קוד ממעצבים שעובדים בשוק')
      meta(name='topic', content='לגשר על הפער בין עיצוב לפיתוח')
      meta(name='summary', content='קורס html ו css יסודי ומצקועי במיוחד עבור מעצבים')
      meta(name='classification', content='business')
      meta(name='url', content='https://creativecoding.co.il/')
      meta(name='identifier-URL', content='https://creativecoding.co.il/')
      meta(name='directory', content='submission')
      meta(name='category', content='פיתוח למעצבים')
      meta(name='coverage', content='Israel')
      meta(name='distribution', content='Global')
      meta(name='rating', content='General')
      meta(name='referrer', content='never')
      link(href='css/style.css', rel='stylesheet')
      link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
      link(rel='icon', href='images/favicon-16.png', sizes='16x16', type='image/png')
      link(rel='icon', href='images/favicon-32.png', sizes='32x32', type='image/png')
      link(rel='icon', href='images/favicon-48.png', sizes='48x48', type='image/png')
      link(rel='icon', href='images/favicon-62.png', sizes='62x62', type='image/png')
  block body
    body(dir='rtl')
      include ../partials/google-tag-manager.pug
      block page
      script(src='js/main.js')
      include ../partials/footer.pug

  
