doctype html
html
  block head
    head
      title ללמוד קוד ממעצבים
      meta(charset='utf-8')
      meta(http-equiv='x-ua-compatible', content='ie=edge')
      meta(name='description', content='בואו לשדרג את הכישורים​ העיצוביים שלכם ​וללמוד קוד ממעצבים שעובדים בשוק.')
      meta(name='viewport', content='width=device-width, initial-scale=1')
      link(rel='apple-touch-icon', href='apple-touch-icon.png')
      link(href='css/style.css', rel='stylesheet')
      link(href='http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css', rel='stylesheet')
  block body
    body(dir='rtl')
      include ../partials/google-tag-manager.pug
      block page
      script(src='js/main.js')
      include ../partials/footer.pug

  
